@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till RetroTapes</h1>
    <h4><i>Film på det gamla goda viset!</i></h4>
    <img src="~/images/RetroTapesLogo.png" alt="RetroTapes Logotyp" class="image" style="height:200px;" />
</div>
